# Revised June 4, 1993
#
# MT-32 .cfg file for Advanced Gravis UltraSound.  Revised for the latest
# patches.  This is as close as it'll get, I think.  All the things which I 
# couldn't find ANY close match, I've commented with the actual instrument
# name.  (Only 125 and 126)
#
# If you have any questions/comments, then e-mail me:
#
# Anthony Tang
# aktang@ucsd.edu
#

0 acpiano
1 acpiano
2 britepno
3 synpiano
4 epiano1
5 epiano2
6 epiano1
7 epiano2
8 honky
9 homeorg 
10 percorg 
11 rockorg 
12 rockorg 
13 church 
14 church 
15 reedorg 
16 accrdeon
17 hrpschrd
18 hrpschrd
19 hrpschrd
20 clavinet
21 clavinet
22 clavinet
23 celeste
24 celeste
25 synbras1
26 synbras2 
27 synbras1 
28 synbras2 
29 synbass1 
30 synbass2 
31 synbass1 
32 synbass2 
33 fantasia 
34 warmpad 
35 choir 
36 agogo
37 soundtrk 
38 aurora
39 ghostie
40 voxlead 
41 metbell 
42 unicorn
43 oboe
44 sweeper 
45 lead5th 
46 startrak 
47 fantasia
48 sqrwave 
49 marcato 
50 slowstr 
51 synstr1 
52 pizzcato 
53 violin 
54 violin 
55 cello
56 cello 
57 contraba 
58 harp 
59 harp 
60 nyguitar 
61 acguitar 
62 jazzgtr 
63 cleangtr
64 Sitar
65 acbass
66 fngrbass 
67 pickbass 
68 synbass2 
69 slapbas1
70 slapbas2
71 fretless 
72 fretless 
73 flute 
74 flute
75 piccolo
76 piccolo 
77 recorder 
78 woodflut
79 sprnosax 
80 altosax
81 tenorsax 
82 barisax
83 clarinet 
84 clarinet 
85 oboe
86 englhorn
87 bassoon 
88 harmonca
89 trumpet
90 mutetrum
91 trombone
92 trombone
93 frenchrn 
94 frenchrn
95 tuba
96 hitbrass
97 hitbrass
98 vibes
99 vibes
100 marimba
101 fantasia
102 glocken
103 tubebell
104 xylophon
105 marimba
106 koto
107 shannai
108 shakazul 
109 whistle1
110 whistle2
111 fx-blow 
112 fx-blow 
113 timpani 
114 toms 
115 snare
116 snare
117 snare
118 taiko
#119 taiko rim
120 cymbell
121 castinet
122 triangl1
123 orchhit
124 telephon
125 jungle
#126 One Note Jam
#127 Water Bells
#128 Jungle Tune
129-256 begin_multipatch default blank 90
	27 highq
	28 slap
	29 scratch1
	30 scratch2
	31 sticks
	32 sqrclick
	33 metclick
	34 metbell
	35 kick1
	36 kick2
	37 stickrim
	38 snare1
	39 claps
	40 snare2
	41 tomlo2
	42 hihatcl
	43 tomlo1
	44 hihatpd
	45 tommid2
	46 hihatop
	47 tommid1
	48 tomhi2
	49 cymcrsh1
	50 tomhi1
	51 cymride1
	52 cymchina
	53 cymbell
	54 tamborin
	55 cymsplsh
	56 cowbell
	57 cymcrsh2
	58 vibslap
	59 cymride2
	60 bongohi
	61 bongolo
	62 congahi1
	63 congahi2
	64 congalo
	65 timbaleh
	66 timbalel
	67 agogohi
	68 agogolo
	69 cabasa
	70 maracas
	71 whistle1
	72 whistle2
	73 guiro1
	74 guiro2
	75 clave
	76 woodblk1
	77 woodblk2
	78 cuica1
	79 cuica2
	80 triangl1
	81 triangl2
	82 shaker
	83 jingles
	84 belltree
	85 castinet
	86 surdo1
	87 surdo2
end_multipatch

169 override_patch
	39 snare1 use_note 38
end_multipatch

